*.o
Makefile
autom4te.cache/
config.h
config.h.in
config.log
config.status
config/Makefile
config/version.c
configure
docs/Makefile
etc/Makefile
etc/mhn.defaults
etc/mts.conf
etc/sendfiles
h/Makefile
man/Makefile
man/ali.1
man/anno.1
man/ap.8
man/burst.1
man/comp.1
man/conflict.8
man/dist.1
man/dp.8
man/flist.1
man/flists.1
man/fmtdump.8
man/fnext.1
man/folder.1
man/folders.1
man/forw.1
man/fprev.1
man/inc.1
man/install-mh.1
man/man.sed
man/mark.1
man/mh-alias.5
man/mh-chart.1
man/mh-draft.5
man/mh-format.5
man/mh-mail.5
man/mh-profile.5
man/mh-sequence.5
man/mh-tailor.5
man/mhbuild.1
man/mhl.1
man/mhlist.1
man/mhmail.1
man/mhn.1
man/mhparam.1
man/mhpath.1
man/mhshow.1
man/mhstore.1
man/msgchk.1
man/msh.1
man/mts.conf.5
man/new.1
man/next.1
man/nmh.1
man/packf.1
man/pick.1
man/post.8
man/prev.1
man/prompter.1
man/rcvdist.1
man/rcvpack.1
man/rcvstore.1
man/rcvtty.1
man/refile.1
man/repl.1
man/rmf.1
man/rmm.1
man/scan.1
man/send.1
man/sendfiles.1
man/show.1
man/slocal.1
man/sortm.1
man/unseen.1
man/whatnow.1
man/whom.1
mts/Makefile
mts/libmts.a
mts/smtp/Makefile
mts/smtp/smtp.c~
sbr/Makefile
sbr/dtimep.c
sbr/libmh.a
sbr/sigmsg.h
stamp-h
stamp-h.in
uip/Makefile
uip/ali
uip/anno
uip/ap
uip/burst
uip/comp
uip/conflict
uip/dist
uip/dp
uip/flist
uip/fmtdump
uip/folder
uip/forw
uip/inc
uip/install-mh
uip/mark
uip/mhbuild
uip/mhl
uip/mhlist
uip/mhmail
uip/mhn
uip/mhparam
uip/mhpath
uip/mhshow
uip/mhstore
uip/mhtest
uip/msgchk
uip/msh
uip/new
uip/packf
uip/pick
uip/post
uip/prompter
uip/rcvdist
uip/rcvpack
uip/rcvstore
uip/rcvtty
uip/refile
uip/repl
uip/rmf
uip/rmm
uip/scan
uip/send
uip/show
uip/slocal
uip/sortm
uip/spost
uip/viamail
uip/whatnow
uip/whom
changes
